body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  display: flex;
  flex-direction: column;
}

.slide>.viewport {
  width: 924px;
  height: 400px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px rgba(192, 192, 192, 1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.slide .imgWrap {
  position: absolute;
  display: flex;
}

.buttons {
  height: 46px;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(192, 192, 192, 1);
  background: linear-gradient(to bottom, #ffffff, #ECECEC);
}

.buttons>span {
  width: 60px;
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 2px;
}
.buttons>span.active{
  background: gray;
}